# -*- mode: gitignore; -*-

quelpa/
.cache/
tree-sitter/
persp-confs/
elpa
pyim/
data/
transient/
url/
site-lisp
eaf/
eln-cache/

auto-save-list
custom.el
history
places
projectile-bookmarks.eld
projectile.cache
recentf
amx-items
*session*
company-statistics-cache.el
.last-package-update-day
.dap-breakpoints
.lsp-sesssion-v1
